* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 200px;
    width: 100%;
    background-image: url("imgs/715.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
}

body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 600;
}

#menu {
    background-color: #a4161a;
    display: flex;
    flex-direction: row;
    border-radius: 0px 0px 20px 20px;
    border-bottom:  1px solid rgb(0, 0, 0);
}

#motto {
    margin-top: 40px;
    margin-left: 10px;
}

#logo {
    border-radius:300px;
    height: 60px;
    margin: 20px;
}

#logo:hover {
    transition: 1s;
    height: 80px;
    margin: 10px;
}

#logo:not(:hover) {
    transition: 1s;
    height: 60px;
    margin: 20px;
}

.navList {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 180px;
}

.navBut {    
    margin-right:80px;
    display: flex;
    flex-direction: row;
}

.text:hover {
    transition: 1s;
    color: #ffffff;
    transform: translateY(-2px);
    text-shadow: 2px 2px 2px rgb(39, 39, 39);
}

.text:not(:hover) {
    transition: all 1s ease;
    color: #000000;
    font-size: medium;
}

#newsBlock1 {
    position: absolute;
    left: 10%;
    margin-top: 30px;
    height: 600px;
    width: 20%;
    background-color: #a4161a;
    clip-path: polygon(100% 0, 100% 97%, 97% 100%, 0 100%, 0 0);
    border-radius: 5px 5px 0px 5px;
    border:  1px solid rgb(0, 0, 0);
} 

main {
    height: 1400px;
    width: 100%; 
    background-image: url("imgs/715.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
}

.mainPic {
    height: 195px;
    width: 100%;
    border-radius: 4px;
}

.header {
    margin: 15px;
}

.newsText {
    margin: 10px;
}

#newsBlock1:hover{
    transition: 1s;
    scale: 1.05;
    color: #a4161a;
    background-color: black;
}

#newsBlock1:not(:hover){
    transition: 1s;
    scale: 1;
    background-color: #a4161a;
}

.news {
    padding: 2%;
}

#newsBlock2:hover{
    transition: 1s;
    scale: 1.05;
    color: #a4161a;
    background-color: rgb(0, 0, 0);
}

#newsBlock2:not(:hover){
    transition: 1s;
    scale: 1;
    background-color: #a4161a;
}

#newsBlock2 {
    position: absolute;
    left: 40%;
    margin-top: 30px;
    height: 600px;
    width: 20%;
    background-color: #a4161a;
    clip-path: polygon(100% 0, 100% 97%, 97% 100%, 0 100%, 0 0);
    border-radius: 5px 5px 0px 5px;
    border:  1px solid rgb(0, 0, 0);
} 

#newsBlock3 {
    position: absolute;
    left: 70%;
    margin-top: 30px;
    height: 600px;
    width: 20%;
    background-color: #a4161a;
    clip-path: polygon(100% 0, 100% 97%, 97% 100%, 0 100%, 0 0);
    border-radius: 5px 5px 0px 5px;
    border:  1px solid rgb(0, 0, 0);
} 

#newsBlock3:hover {
    transition: 1s;
    scale: 1.05;
    color: #a4161a;
    background-color: black;
}

#newsBlock3:not(:hover){
    transition: 1s;
    scale: 1;
    background-color: #a4161a;
}

.linkNews {
    display: block;
    height: 100%;
    color: #000000;
}

.linkNews:hover {
    transition: 1s;
    color: #a4161a;
}

.linkNews:not(:hover) {
    transition: 1s;
    color: black;
}

#newsBlock4 {
    position: absolute;
    top: 1000px;
    left: 10%;
    height: 300px;
    width: 35%;
    background-color: #a4161a;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    border:  1px solid rgb(0, 0, 0);
    clip-path: polygon(100% 0, 100% 97%, 97% 100%, 0 100%, 0 0);
} 

.mainPic2 {
    height: 275px;
    width: 300px;
    border-radius: 4px;
}

#bottomHeader {
    margin: 5%;
    width: auto;
}

#news1 {
    padding: 12px;
    display: flex;
    flex-direction: row;
}

#newsBlock4:hover{
    transition: 1s;
    scale: 1.05;
    color: #a4161a;
    background-color: rgb(0, 0, 0);
}

#newsBlock4:not(:hover){
    transition: 1s;
    scale: 1;
    background-color: #a4161a;
}

#newsBlock5 {
    position: absolute;
    top: 1000px;
    left: 55%;
    height: 300px;
    width: 35%;
    background-color: #a4161a;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    border:  1px solid rgb(0, 0, 0);
    clip-path: polygon(100% 0, 100% 97%, 97% 100%, 0 100%, 0 0);
} 

#bottomHeader2 {
    margin: 5%;
    width: auto;
}

#news2 {
    padding: 12px;
    display: flex;
    flex-direction: row;
}

#newsBlock5:hover{
    transition: 1s;
    scale: 1.05;
    color: #a4161a;
    background-color: rgb(0, 0, 0);
}

#newsBlock5:not(:hover){
    transition: 1s;
    scale: 1;
    background-color: #a4161a;
}

footer {
    height: 200px;
    width: 100%;
    background-image: url("imgs/715.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
}

#bottomBlock {
    height: 200px;
    width: 100%;
    background-color: #a4161a;
    border-radius: 20px 20px 0px 0px;
    border-top:  1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
}

#mediaVK {
    margin-top: 80px;
    margin-left: 50px;
    height: 60px;
}

#mediaTG {
    margin-top: 80px;
    margin-left: 100px;
    height: 60px;
}

#vkBlock {
    height: 65px;
    width: 65px;
}

#tgBlock {
    height: 65px;
    width: 65px;
}

#vbBlock {
    height: 65px;
    width: 65px;
}

#mediaVB {
    margin-top: 80px;
    margin-left: 150px;
    height: 60px;
}

#mediaVB:hover {
    transition: 1s;
    scale: 1.1;
}

#mediaVK:hover {
    transition: 1s;
    scale: 1.1;
}

#mediaTG:hover {
    transition: 1s;
    scale: 1.1;
}

#mediaVB:not(:hover) {
    transition: 1s;
    scale: 1;
}

#mediaVK:not(:hover) {
    transition: 1s;
    scale: 1;
}

#mediaTG:not(:hover) {
    transition: 1s;
    scale: 1;
}

.linkMedia {
    display: block;
    height: 1px;
    width: 1px;
}

#contacts {
    height: 100px;
    margin-left: 200px;
    margin-top: 80px;
}

.contact {
    color: black;
    font-size: large;
}

#sponsor {
    height: 100px;
    margin-left: 70px;
    margin-top: 80px;
}

#email {
    height: 100px;
    margin-left: 70px;
    margin-top: 80px;
}

.contact:hover {
    color: black;
    font-size: larger;
    transition: 1s;
    color: #ffffff;
    transform: translateY(-2px);
    text-shadow: 2px 2px 2px rgb(39, 39, 39);
}

.contact:not(:hover) {
    transition: 1s;
    color: black;
    font-size: large;
}

#logo2 {
    margin-top: 40px;
    margin-left: 180px;
    height: 120px;
}

#logo2:hover {
    transition: 1s;
    scale: 1.2;
}

#logo2:not(:hover) {
    transition: 1s;
    scale: 1;
}

img {
    transition: opacity 1s ease-in-out;
  }
  
  img.fade {
    opacity: 0;
  }
